body {
    background-color: rgb(190, 190, 190);
}

.graph {
    padding: 30px 30px;
    margin: auto;
}

.navbar {
    font-size: 15px;
    padding: 0 30px;
    background-color: white;
}

.navbar-light .navbar-brand {
    color: white;
    font-weight: bold;
    background-color: #4fa086;
    padding: 12px;
    font-family: Georgia, Times, "Times New Roman", serif;
}

img {
	width: 100%;
	height: 100%;
}

.description-content {
    position: relative;
	margin: 90px auto;
	padding: 30px 30px;
	color: black;
    background-color: white;
    overflow: auto;
}

.description-image-vis {
    width: 80%;
    display: block;
    margin: auto;
}

#vis {
	color: darkslategray;
	font-size: 20px;
	font-family: Arial, Helvetica, sans-serif;
}

p {
	color: darkslategray;
	font-size: 24px;
	font-family: Arial, Helvetica, sans-serif;
}

.description-image {
    float: left;
    width: 50%;
}

.imageNav-content {
	margin: 90px auto;
	padding: 30px 30px;
	color: black;
    background-color: white;
}

#current {
    border-color: #4fa086;
    border-style: solid;
}

.active, .imageNav-photo:hover {
    border-color: #4fa086;
    border-style: solid; 
}

.description-header, .imageNav-header {
	padding-top: 15px; 
    padding-left: 4px;
    padding-bottom: 15px;
	color: #4fa086;
	font-size: 35px;
	font-weight: bold;
    font-family: Georgia, Times, "Times New Roman", serif;
}

.sub {
    font-size: 28px;
    text-align: center;
}

.data-header {
    text-align: left;
}

@media (max-width: 993px) {
    .navbar-expand-lg {
        background-color: #4fa086;
        padding: 0px 0px;
    }
    
    .navbar-nav {
        padding: 10px;
        background-color: white;
    }

    .navbar-brand {
        padding: 10px;
    }

    .col-md-12 {
        margin-bottom: -150px;
    }

    .graph {
        padding: 30px 30px;
        margin: auto;
    }

    }

.footer {
	background-color: #505251; 
    border-top-style: solid; 
    border-top-width: 7px; 
    border-top-color: #4fa086;
    color: white; 
    min-height: 60px; 
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px; 
    text-align: center; 
    position: relative;
    margin-top: 100px;
    padding-top: 10px;
	width: 100%;
	left: 0;
	bottom: 0;
}